<header>
    <div class="container">
        <div class="row">
            <div class="col-2 logo">
                <h1>LOGO</h1>
            </div>
            <nav class="col-10 main-nav">
                <a class="home" href="/">Inicio</a>
                <a class="products" href="/productos">Productos</a>
                <a class="about" href="/acerca-de">Acerca de</a>
                <a class="contact" href="/contacto">Contacto</a>
            </nav>
        </div>
    </div>
</header>