<%- include('partials/head') %>
    <%- include('partials/header') %>
    <div class="container">
        <main>
            <h1>Ésta es nuestra página de about</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolores eius impedit praesentium autem tenetur porro a, earum laboriosam nostrum non. Beatae doloribus fugiat debitis autem? Voluptates deserunt iure cumque!</p>
        </main>
    </div>
    <%- include('partials/footer') %>